<% url = Cloudinary::Api.resources %>
<% array_of_ids = [] %>

<% url["resources"].each do |url| %>
  <% array_of_ids << url["public_id"] %>
<% end %>



<div class="container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Paol5brD9rE?autoplay=1&loop=1&playlist=Paol5brD9rE&controls=0&mute=1&frameborder=0"></iframe>
    <div class= "cards">
      <% @cocktails.each do |cocktail| %>
        <div class= "list card">
          <% id = array_of_ids.sample %>
          <% array_of_ids.delete(id) %>
          <%= cl_image_tag(id, width: 250, height: 200, crop: :fill) %>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
        <% end %>




    </div>
    <%= link_to "add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
