<% url = Cloudinary::Api.resources %>
<% array_of_ids = [] %>

<% url["resources"].each do |url| %>
<% array_of_ids << url["public_id"] %>
<% end %>



<div class="container">

  <% if @cocktails.empty? %>
    <div class="centered">
      <p>Your cocktail portfolio is empty!</p>
    </div>

  <% else %>


    <div class= "cards">
      <% @cocktails.each do |cocktail| %>
      <div class= "list col-lg-3 card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
          photo
        </div>

           <%= cl_image_tag cocktail.photo.key %>
           <%= link_to cocktail.name, cocktail_path(cocktail) %>
         </div>
         <br>


      <% end %>
    </div>

  <% end %>

</div>










<%= link_to "add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
