.navbar-brand {
  display: flex;
}

.navbar-lewagon {
  // justify-content: space-between;
  background: $main;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
